{%extends 'includes/base.html'%}
{%block title%}
    User
{%endblock%}

{%block content%}
    <h1>Bonjour {{ ctx.uid }}!!</h1>
    <h3>Bienvenue sur votre page personnelle</h3>

    <table>
        <tr><td>Username</td><td>: {{ctx.uid}}</td></tr>
        <tr><td>E-mail </td><td>: {{ctx.email}}</td></tr>
        <tr><td colspan="2"><a href="{{url_for('user.usermodification')}}">Modifier mes infos</a></td></tr>
        <tr><td colspan="2"><a href="{{url_for('user.userdelete')}}">Supprimer mon compte</a></td></tr>
    </table>
{%endblock %}