{%extends 'includes/base.html'%}
{%block title%}Login{%endblock%}
{%block content%}
{% from "includes/_formhelpers.html" import afficherInput %}
<form action="#" method="POST">
    {{ afficherInput(ctx.form.uid, class="form-control", value=session["uid"] ) }}
    {{ afficherInput(ctx.form.email, class="form-control", value=session["email"]) }}
    {{ afficherInput(ctx.form.pwd, class="form-control") }}
    
    <div class="form-group">
        {{ctx.form.btnSubmit()}}
    </div>
</form>
{%endblock%}